@import './node_modules/reset-css/sass/reset';

body {
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;
}

:root {
  --color-menu: #101828;
  --color-primary: #7F56D9;
  --color-primary-hover: #6941C6;
  --color-white: #FFFFFF;
  --color-primary-light: #F4EBFF;
  --color-border: #D0D5DD;
}
